/bin/
/audio/LotroInstruments/LotroInstruments.txt
**/desktop.ini
**/Thumbs.db
/target/
/classes_patch/
/LotroInstruments.sf2
/distribute/jdk.wxs
/distribute/app.wxs
/distribute/runtime.wxs
# .idea folder has its own .gitignore file

# IDE-specific project files
.project
.settings/
.vscode/
.classpath